In [1]:
import pandas as pd
df = pd.read_csv('sample_dataset.csv')
df

    Patient ID          Disease                         Medicine
0            1     Hypertension                       Amlodipine
1            2         Diabetes                        Metformin
2            3           Asthma                        Albuterol
3            4       Depression                       Sertraline
4            5        Arthritis                        Ibuprofen
5            6         Migraine                      Sumatriptan
6            7  Hyperthyroidism                      Methimazole
7            8        Allergies                       Loratadine
8            9      Acid reflux                       Omeprazole
9           10         Epilepsy                    Levetiracetam
10          11           Asthma  Methylprednisolone , Prednisone
11          12         Migraine                          Panadol
12          13         Migraine                    Brufen Rapid

In [2]:
df['tags'] = (df['Disease'] + " , "+ df['Medicine'])

In [3]:
new_df = df[['tags']]
new_df

                                        tags
0                  Hypertension , Amlodipine
1                       Diabetes , Metformin
2                         Asthma , Albuterol
3                    Depression , Sertraline
4                      Arthritis , Ibuprofen
5                     Migraine , Sumatriptan
6              Hyperthyroidism , Methimazole
7                     Allergies , Loratadine
8                   Acid reflux , Omeprazole
9                   Epilepsy , Levetiracetam
10  Asthma , Methylprednisolone , Prednisone
11                        Migraine , Panadol
12                  Migraine , Brufen Rapid

In [4]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [5]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [6]:
new_df['tags'].apply(stem)

0                      hypertens , amlodipin
1                         diabet , metformin
2                         asthma , albuterol
3                        depress , sertralin
4                       arthriti , ibuprofen
5                      migrain , sumatriptan
6                  hyperthyroid , methimazol
7                        allergi , loratadin
8                    acid reflux , omeprazol
9                   epilepsi , levetiracetam
10    asthma , methylprednisolon , prednison
11                         migrain , panadol
12                    migrain , brufen rapid
Name: tags, dtype: object

In [7]:
new_df

                                        tags
0                  Hypertension , Amlodipine
1                       Diabetes , Metformin
2                         Asthma , Albuterol
3                    Depression , Sertraline
4                      Arthritis , Ibuprofen
5                     Migraine , Sumatriptan
6              Hyperthyroidism , Methimazole
7                     Allergies , Loratadine
8                   Acid reflux , Omeprazole
9                   Epilepsy , Levetiracetam
10  Asthma , Methylprednisolone , Prednisone
11                        Migraine , Panadol
12                  Migraine , Brufen Rapid

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 2500 , stop_words = 'english')

In [10]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [11]:
cosine_similarity(vectors)

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.40824829, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5       , 0.40824829],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.40824829, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5       , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.40824829],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.40824829, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.40824829, 1.        ]])

In [12]:
similarity = cosine_similarity(vectors)

In [13]:
sorted(list(enumerate(similarity[0])),reverse = True ,key = lambda x:x[1])[1:3]

[(1, 0.0), (2, 0.0)]

In [14]:
df[df['Medicine'] == 'Albuterol'].index[0]

2

In [17]:
def recommend(medicine):
    medicine_index = new_df[new_df['tags']=='medicine'].index[0]
    distances = similarity[tags_index]
    Tags_list = sorted(list(enumerate(distances)),reverse = True ,key = lambda x:x[1])[1:3]
    
    for i in Medicine_list:
        print(new_df.iloc[i[0]].tags)

In [18]:
def recommend(medicine):
    medicine_rows = new_df[new_df['tags'].str.contains(medicine)]
    
    if medicine_rows.empty:
        print("No medicine with the given tag found.")
        return
    
    medicine_index = medicine_rows.index[0]
    distances = similarity[medicine_index]
    medicine_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:3]
    
    recommended_medicines = []
    
    for i in medicine_list:
        recommended_medicines.append(new_df.iloc[i[0]]['tags'])
    
    return recommended_medicines


recommended_medicines = recommend('Hypertension')
print(recommended_medicines)

['Diabetes , Metformin', 'Asthma , Albuterol']